matrix:
  include:
    - language: python
      python:
        - 3.6
      install:
        - pip install pyyaml pandas xlrd deepdiff jinja2 jsondiff
      script:
        - tests/check-consistency-miairr.py
        - tests/check-consistency-formats.py
    - language: python
      python:
        - 2.7
      before_install:
        - cd lang/python
      install:
        - pip install -r requirements.txt
      script:
        - python setup.py install
        - python -m unittest discover
    - language: python
      python:
        - 3.6
      before_install:
        - cd lang/python
      install:
        - pip install -r requirements.txt
      script:
        - python setup.py install
        - python -m unittest discover
    - language: r
      r:
        - release
      sudo: false
      cache: packages
      addons:
        apt:
          packages:
            - libgit2-dev
            - libssl-dev
            - libxml2-dev
      r_binary_packages:
        - devtools
        - roxygen2
        - testthat
      before_install:
        - cd lang/R
        - R -e 'devtools::document()'
      r_check_args: --as-cran
