# `rearrangement` schema/format

See the formatting overview for details on how to structure this data.

**Fields**

| Name | Type | Mandatory | Description |
| --- | --- | --- | --- |
{%- for field in fields %}
| `{{ field.name }}` | `{{ field.type }}` | {% if field.mandatory %} mandatory {% endif %} | {{ field.doc }} |
{%- endfor %}
